:root {
    --vertical-space: 1rem;
}

.propic {
    padding-top: 1rem;
    width: 15em;
}

body#portfolio img{
    height: 25em;
}

body {
    padding: 0 2em;
    font-size: 16px;
    line-height: 1.5;
    max-width: 1200px;
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 28em) {
    body {
        grid-template-areas:"head nav"
                            "main main"
                            "foot foot";
        grid-template-rows: auto 1fr auto;
    }
    
}

header {
    grid-area: head;
    background-color: blue;
    padding-bottom: var(--vertical-space);
}

nav {
    grid-area: nav;
    background-color: red;
    padding-bottom: var(--vertical-space);
}

main {
    grid-area: main;
    background-color: yellow;
    padding-bottom: var(--vertical-space);

}

footer {
    grid-area: foot;
    background-color: green;
}

h1 {
    line-height: 1.2;
}

header, footer {
    padding: 1rem 0;
    align-items: baseline;
}

header h1, footer h1 {
    margin: 0;
}

body > * {
    padding-left: 2rem;
}

#navLinks > a{
    padding-right: 1rem;
    color: pink;
}