@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');

:root {
    --vertical-space: 1rem;

    --green-color: #9FBF2C;
    --blue-color: #77ACF2;
}

.propic {
    padding-top: 1rem;
    width: 15em;
}

body {
    padding: 0 2em;
    font-size: 16px;
    line-height: 1.5;
    max-width: 1200px;
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "img img"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Lato', serif;
    background-image: linear-gradient(135deg, rgba(0, 115, 126,0.06) 0%, rgba(0, 115, 126,0.06) 50%,rgba(244, 185, 144,0.06) 50%, rgba(244, 185, 144,0.06) 100%),linear-gradient(90deg, rgb(119,172,242),rgb(119,172,242));
    background-size: 26px 26px;
}

@media screen and (min-width: 28em) {
    body {
        grid-template-areas:"head nav"
                            "main img"
                            "foot foot";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    };
    
}

header {
    grid-area: head;
    /* background-color: blue; */
    padding-bottom: var(--vertical-space);
    font-family: 'Roboto Slab', serif;
}

title {
    font-family: 'Roboto Slab', serif;
}

nav {
    grid-area: nav;
    /* background-color: red; */
    padding-bottom: var(--vertical-space);
}

main {
    grid-area: main;
    /* background-color: yellow; */
    padding-bottom: var(--vertical-space);

}

img {
    grid-area: img;
    padding-bottom: var(--vertical-space);
}

footer {
    grid-area: foot;
    font-family: 'Lato', serif;
    /* background-color: green; */
}

h1 {
    line-height: 1.2;
}

header, footer {
    padding: 1rem 0;
    align-items: baseline;
}

header h1, footer h1 {
    margin: 0;
}

body > * {
    padding-left: 2rem;
}

#navLinks > a{
    padding-right: 1rem;
}

body#portfolio ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 400px){
    body#portfolio ul li{
        flex-basis: 45%;
        padding-right: 5%;
    }
}

body#portfolio ul img{
    max-width: 100%;
}

/* a {
    color: var(--green-color);
} */

a:hover {
    color: var(--green-color);
}

/* body#portfolio img{
    height: 25em;
} */